.head{
    text-align: center;
}
.box{
    border-bottom: 2px solid black;
    margin: 20px 50px;
    height: 450px;
    width: 1150px;
}
.paginat {
    display: flex;
    justify-content: center;
}
        
.pag-li {
    display: grid;
    justify-content: center;
    border: 2px solid black;
    width: 50px;
    height: 50px;
    margin: 2px;
    background-color: dodgerblue;
}
a{
    color: whitesmoke;
    font-size: 30px;
    text-align: center;
}
    